.App {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.CTChart-block {
  display: flex;
  justify-content: left;
}

.app-chart {
    width: 350px;
}

.SVC-block {
  display: flex;
  justify-content: left;
}

.Top-level {
  display: flex;
  justify-content: center;
}
